- title @client.full_name

.page_header-wrapper
	#page-header
		.page_header
			.page_subject-wrapper
				%table#subject_header-wrapper
					%tbody
						%tr
							%td.subject_header-details
								.liner
									%table.subject_header
										%tbody
											%tr
												%td.icon
													%a.avatar
														= image_tag @client.photo.url(:thumb), :class => "large avatar", :height => 53, :width => 53
												%td.name
													%h1= @client.full_name
													.subject_details
														%a{:href => ""}= @client.inc_post
														в
														%a{:href => ""}= @client.inc_org_name
													.tags
														.list
															%span.edit
																%a{:href => ""} Добавить метку
												%td.info
													%ul
														%li.phone
															= @client.personal_mobile_phone
														%li.email
															= mail_to @client.personal_email
							
.page_contents_wrapper.clear
	.page_main_column.column
		.liner
			.recordings_header.page_divider
				%h2 Последние займы клиента												
			.stream
				.recordings
					.recording.note
						.type
							= link_to "Займ", ""
						.recording_content
							.header
								%span.action_links
									%span.permalink
										= link_to "Перейти к займу", ""
								%h3 
									%span 15 000 рублей 
									на 
									%span 9 дней, 
									2 марта
								.from
									выдала
									= link_to "Огурцова Наталья", ""
							.progress
								%span выплачен на 91%
							.days-left
								осталось 5 дней
										
	.page_sidebar.right.column
		.liner
			.sidebox_wrapper 
				.liner
					.sidebox.closedbox.contact_info
						%h5 
							%span.edit
								= link_to "Подробнее", ""
							Контакты
						.contact_methods
							.contact_method.first
								= @client.personal_mobile_phone
								%span Рабочий
							.contact_method.first
								= @client.fact_st_phone
								%span Домашний
							.contact_method.first
								= mail_to @client.personal_email		
								%span Рабочий												
							.contact_method.first
								= "#{@client.fact_street}, #{@client.fact_house}"
								%br/
								= @client.fact_city
					.sidebox.closedbox.personal_info
						%h5
							%span.edit
								= link_to t("monacum.default.link.edit"), edit_client_path(@client, :anchor => "personal")
							Личные данные
						.contact_method.first
							Место и дата рождения:
							= "#{@client.personal_birth_place}, #{I18n.l @client.personal_birth_date.to_date}"
						.contact_method.first
							Семейный статус:
							= @client.personal_relationship_status
						.contact_method.first
							Образование:
							= @client.personal_education
						.contact_method.first	
							- unless @client.personal_izhd_count == 0
								= dependents_count @client
							- else
								Иждивенцев нет
						.contact_method.first
							= "ИНН #{@client.personal_inn}"
					.sidebox.closedbox.personal_info
						%h5
							%span.edit
								= link_to t("monacum.default.link.edit"), edit_client_path(@client, :anchor => "documents")
							Документы
						.contact_method.first
							%span Паспорт
							%br/
							= "Серия #{@client.doc_seria}, номер #{@client.doc_number}, выдан #{@client.doc_author} #{I18n.l @client.doc_date.to_date}"
