- title @client.full_name
#client_contacts_box{:style => "display: none;"}
	= render "contacts"
	
= render "header"
				
.page_contents_wrapper.clear
	.page_main_column.column
		.liner
			.recordings_header.page_divider
				%h2 Просроченные займы
			.stream
				.recordings
					.recording.note
						.type
							= link_to "Займ", ""
						.recording_content
							.header
								%span.action_links
									%span.permalink
										= link_to "Перейти к займу", ""
								%h3
									%span 15 000 рублей 
									на
									%span 9 дней
									%span.date 2 марта 2011
								.from
									выдала
									= link_to "Огурцова Наталья", ""
			.recordings_header.page_divider
				%h2 Текущий займ
			.stream
				.recordings.upcoming
					.recording.note
						.type
							= link_to "Займ", ""
						.recording_content
							.header
								%span.action_links
									%span.permalink
										= link_to "Перейти к займу", ""
								%h3
									%span 15 000 рублей 
									на
									%span 9 дней
									%span.date 2 марта 2011
								.from
									выдала
									= link_to "Огурцова Наталья", ""
								.progress 
									%span погашен на 91%
								.days-left 
									осталось 2 дня

			.recordings_header.page_divider
				%h2 Прошлые займы	
			.stream
				.recordings.complete
					.recording.note
						.type
							= link_to "Займ", ""
						.recording_content
							.header
								%span.action_links
									%span.permalink
										= link_to "Перейти к займу", ""
								%h3
									%span 15 000 рублей 
									на
									%span 9 дней
									%span.date 2 марта 2011
								.from
									выдала
									= link_to "Огурцова Наталья", ""
					.recording.note
						.type
							= link_to "Займ", ""
						.recording_content
							.header
								%span.action_links
									%span.permalink
										= link_to "Перейти к займу", ""
								%h3
									%span 15 000 рублей 
									на
									%span 9 дней
									%span.date 2 марта 2011
								.from
									выдала
									= link_to "Огурцова Наталья", ""
					.recording.note
						.type
							= link_to "Займ", ""
						.recording_content
							.header
								%span.action_links
									%span.permalink
										= link_to "Перейти к займу", ""
								%h3
									%span 10 000 рублей 
									на
									%span 5 дней
									%span.date 12 февраля 2011
								.from
									выдала
									= link_to "Огурцова Наталья", ""
					.recording.note
						.type
							= link_to "Займ", ""
						.recording_content
							.header
								%span.action_links
									%span.permalink
										= link_to "Перейти к займу", ""
								%h3
									%span 15 000 рублей 
									на
									%span 9 дней
									%span.date 2 марта 2011
								.from
									выдала
									= link_to "Огурцова Наталья", ""
					.recording.note
						.type
							= link_to "Займ", ""
						.recording_content
							.header
								%span.action_links
									%span.permalink
										= link_to "Перейти к займу", ""
								%h3
									%span 15 000 рублей 
									на
									%span 9 дней
									%span.date 2 марта 2011
								.from
									выдала
									= link_to "Огурцова Наталья", ""
					.recording.note
						.type
							= link_to "Займ", ""
						.recording_content
							.header
								%span.action_links
									%span.permalink
										= link_to "Перейти к займу", ""
								%h3
									%span 10 000 рублей 
									на
									%span 5 дней
									%span.date 12 февраля 2011
								.from
									выдала
									= link_to "Огурцова Наталья", ""
	.page_sidebar.right.column
		.liner
			.sidebox_wrapper 
				.liner
					.sidebox.closedbox.contact_info
						%h5 
							%span.edit
								= link_to "Подробнее", "#client_contacts_box", :rel => "facebox"
							%span.edit
								= link_to "Правка", edit_client_path(@client)
								|&nbsp;
							Контакты
						.contact_methods
							.contact_method.first
								= @client.personal_mobile_phone
							.contact_method.first
								= @client.fact_st_phone
							.contact_method.first
								= mail_to @client.personal_email
							.contact_method.first
								= "#{@client.fact_street}, #{@client.fact_house}"
								%br/
								= @client.fact_city
					.sidebox.closedbox.personal_info
						%h5
							%span.edit
								= link_to t("monacum.default.link.edit"), edit_client_path(@client, :anchor => "personal")
							Личные данные
						.contact_method.first
							Место и дата рождения:
							= "#{@client.personal_birth_place}, #{I18n.l @client.personal_birth_date.to_date}"
						.contact_method.first
							Семейный статус:
							= @client.personal_relationship_status
						.contact_method.first
							Образование:
							= @client.personal_education
						.contact_method.first	
							- unless @client.personal_izhd_count == 0
								= dependents_count @client
							- else
								Иждивенцев нет
						.contact_method.first
							= "ИНН #{@client.personal_inn}"
					.sidebox.closedbox.personal_info
						%h5
							%span.edit
								= link_to t("monacum.default.link.edit"), edit_client_path(@client, :anchor => "documents")
							Документы
						.contact_method.first
							%span Паспорт
							%br/
							= "Серия #{@client.doc_seria}, номер #{@client.doc_number}, выдан #{@client.doc_author} #{I18n.l @client.doc_date.to_date}"
