%tr{:class => cycle("odd", "even")}
	%td.date
		= I18n.l payment.created_at.to_date
	%td.amount
		= number_to_currency(payment.amount)
	%td.collaborator
		приняла 
		= link_to "Яна Т.", ""
	%td
		#controls
			%ul
				%li.edit
					= link_to t("monacum.default.link.edit"), edit_payment_path(payment)
				%li.delete
					= link_to payment, :confirm => 'Вы уверены?', :method => :delete do
						%span.icon
					